<template>
    <div class="display-container">
        <div v-if="this.statisticsData.isExistData">
            <div class="report-name-container">
                <div class="report-name">
                    <label for="report-for-name">Report for:</label>
                    <span id="report-for-name">{{this.statisticsData.fullName}}</span>
                </div>
            </div>
            <SatisticsDetails v-for="detailsData in this.statisticsData.detailsDataArr" :key="detailsData.condition" :detailsData="detailsData"></SatisticsDetails>
        </div>
        <div class="no-data-msg" v-else>
            No data was found for account manager - {{statisticsData.fullName}}
        </div>
    </div>
</template>

<script>
import SatisticsDetails from './SatisticsDetails.vue'
export default {
  name: 'DisplayDetails',
  components: {
      SatisticsDetails
  },
  data(){
    return{}
  },
   props: {
      statisticsData: {
         type: Object,
         required: false
      }
  },
  methods:{}
}
</script>

<style scoped>
     .display-container{
        display: flex;
        justify-content: center;
     }
    .report-name-container{
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }
    .report-name{
        width: 391px;
        justify-content: center;
        text-align: left;
        margin-top: 50px;
    }
    .report-name span{
        margin-left: 5px;
    }
    .no-data-msg{
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        text-align: left;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        width: 500px;
        margin-top: 30px;
    }
</style>