<template>
    <div class="stat-details-container">
        <div class="details-content">
            <div class="details-content-condition">
               <label>Condition:</label>
               <span class="condition">{{this.detailsData.condition}}</span>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Epid</th>
                        <th>ContextAsSite</th>
                        <th>ContextAsSeller</th>
                    </tr>
                    <tr v-for="productDetail in this.detailsData.productsDetail" :key="productDetail.epid">
                        <td>{{productDetail.epid}}</td>
                        <td>{{productDetail.contextAsSite}}</td>
                        <td>{{productDetail.contextAsSeller}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SatisticsDetails',
    props: {
        detailsData: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>

.stat-details-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stat-details-container .details-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.stat-details-container .details-content-condition{
    display: flex;
    margin-bottom: 15px;
}

.stat-details-container .details-content-condition .condition{
   margin-left: 5px;
}
table{
    border-collapse: collapse;
}
td, th {
    border: solid 2px lightgrey;
    border-spacing: 0px;
    padding: 10px;
    text-align: left;
}
</style>