<template>
    <div class="search-container">
        <label for="find-field">Account Manager</label>
        <input class="find-field-style" id="find-field" type="text" v-model="findField"/>
        <button @click="findClicked" class="btn-find" :disabled="!findField || findField.length == 0">Find</button>
    </div>
</template>

<script>
export default {
  name: 'Search',
  data(){
    return{
        findField: ''
    }
  },
  methods:{

    findClicked(){
        this.$emit('find-action',{
            accountManger: this.findField
        });
    }

  }
}
</script>

<style scoped>

    .search-container .find-field-style{
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px;
        background-color: #eeeeee;
        border: 2px solid #808080;
        height: 23px;
        width: 300px;
    }

    .btn-find{
        color: #141414;
        background-color: #eeeeee;
        border: 2px solid #808080;
        border-radius: 5px;
        width: 70px;
        height: 25px;
    }

    button[disabled=disabled], button:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
    }

</style>