<template>
  <div id="app">
    <Search @find-action="findStatistics"></Search>
    <div v-show="this.showDivider" class="separator"></div>
    <DisplayDetails v-if="statisticsData" :statisticsData="statisticsData"></DisplayDetails>
  </div>
</template>

<script>
import Search from './components/Search.vue'
import DisplayDetails from './components/DisplayDetails.vue'
import DataManagerService from './services/DataManagerService.js'

export default {
  name: 'App',
  components: {
    Search,
    DisplayDetails
  },
  methods: {
    findStatistics(data){
        DataManagerService.getSatistics(data.accountManger)
        .then((data) =>{
               this.showDivider = true;
               this.statisticsData = {
                 fullName: data.fullName,
                 detailsDataArr: [],
                 isExistData: data.conditionSummaryMap.NEW.length > 0 || data.conditionSummaryMap.USED.length > 0
               };
               let detailsDataNew = {
                  condition: 'New',
                  productsDetail: [...data.conditionSummaryMap.NEW]
               }
               let detailsDataUsed = {
                  condition: 'Used',
                  productsDetail: [...data.conditionSummaryMap.USED]
              }
              this.statisticsData.detailsDataArr.push(detailsDataNew);
              this.statisticsData.detailsDataArr.push(detailsDataUsed);
        })
        .catch(error => {
            console.log(error);
        });
    }
  },
  data() {

    return {
        statisticsData: null,
        showDivider: false
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.separator{
    height: 2px;
    width: 70%;
    background-color: lightgrey;
    margin: 30px auto 0px auto;
}
</style>
